---
name: Deploy

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
  release:
    types:
      - published

permissions: {}

jobs:
  ci:
    permissions:
      actions: read
      contents: read
      packages: read
      security-events: write
    uses: hassio-addons/workflows/.github/workflows/app-ci.yaml@bf24a85062d78a850e6747e4040527d40e023abd # v2.0.5

  deploy:
    needs: ci
    permissions:
      contents: read
      packages: write
    uses: hassio-addons/workflows/.github/workflows/app-deploy.yaml@bf24a85062d78a850e6747e4040527d40e023abd # v2.0.5
    secrets:
      DISPATCH_TOKEN: ${{ secrets.DISPATCH_TOKEN }}
